*{
    margin: 0%;
    padding: 0%;

}


.navbar{
    width: 100%;
    background: black;
    display: flex;
}

.logo{
    text-align: center;
    width: 30%;
}

.logo h1 a{
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    text-align: center;

}

.nav-menu {
    width: 70%;
}
.nav-menu ul{
    float: right;
    display: flex;
    
}
.nav-menu ul li{
    margin-right: 40px;
    list-style: none;

}
.nav-menu ul li a{
    text-decoration: none;
    color: #ffff;
    font-size: 20px;

}